@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: Helvetica, sans-serif;
}

.container-width {
  max-width: 1312px;
  margin: 0 auto;
  width: 100%;
  padding: 0 16px;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

[data-state="closed"] > .plus,
[data-state="open"] > .minus {
  display: block;
}

[data-state="closed"] > .minus,
[data-state="open"] > .plus {
  display: none;
}