@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: Helvetica, sans-serif;
}

.container-width {
  max-width: 1312px;
  margin: 0 auto;
  width: 100%;
  padding: 0 16px;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

::placeholder {
  color: #666666;
}

.border-red [value="0000 0000 0000 0000"],
.border-red::placeholder {
  color: #B42318;
}

[data-state="closed"] > .plus,
[data-state="open"] > .minus {
  display: block;
}

[data-state="closed"] > .minus,
[data-state="open"] > .plus {
  display: none;
}

html {
  scrollbar-gutter: stable;
}

html body[data-scroll-locked] {
  margin-right: 0 !important;
}

.inner-border-box::before {
  content: '';
  @apply absolute inset-5 border-2 border-white pointer-events-none;
}

.inner-border-box:hover::before {
  content: '';
  @apply absolute inset-5 border-2 border-blue pointer-events-none;
}
