@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hagerman_Font';
  src: url('/fonts/Hagerman_Font Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: Helvetica, sans-serif;
}

.container-width {
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
  padding: 0 16px;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

::placeholder {
  color: #666666;
}

.border-red [value="0000 0000 0000 0000"],
.border-red::placeholder {
  color: #B42318;
}

[data-state="closed"]>.plus,
[data-state="open"]>.minus {
  display: block;
}

[data-state="closed"]>.minus,
[data-state="open"]>.plus {
  display: none;
}

html {
  scrollbar-gutter: stable;
}

html body[data-scroll-locked] {
  margin-right: 0 !important;
}

.inner-border-box::before {
  content: '';
  @apply absolute inset-5 border-2 border-white pointer-events-none;
}

.inner-border-box:hover::before {
  content: '';
  @apply absolute inset-5 border-2 border-blue pointer-events-none;
}

#carousel-content img{
  margin: auto !important;
}

@media (max-width: 768px) {
  .addressBar {
    width: 100%;
    margin-top: 14px;
    text-align: justify;
  }

  .productBar {
    width: 100%;
  }

  #order-summary-card #order-summary-image {
    margin-top: -100px;
  }

  #summary-product #order-summary-image {
    margin-top: -76px !important;
  }

  #order-summary-card #order-summary-image.membership-image {
    margin-top: -31px !important;
  }

  #order-summary-price {
    width: 100%;
    align-items: baseline;
  }

}